*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    h1{
        background-color: rgb(3, 17, 85);
        color: #edf3f5;
        padding: 20px;
        margin: 2rem;
        text-align: center;
        width: 100%;
    }

    h2{
        color: rgb(3, 17, 85);
        text-align: center;
    }

    h3{
        color: rgb(3, 17, 85);
        text-align: center;
    }

    a{
        color: #edf3f5; 
        text-align: center;
        padding: 20px;
        margin: 2rem;
        width: 100%;
    }
    
table, th, td {
  border:1px solid black;
}